body {
    background-color: rgb(29, 72, 140);
    font: 400 0.688em/1.38 Helvetica;
    color: rgb(0, 0, 0);
}

.page-dashboard,
.page-forgetpassword,
.page-forgetpassword-copy {
    color: rgb(29, 72, 140);
}

.page-index {
    color: rgb(255, 255, 255);
}

.page-signup {
    color: rgb(0, 0, 0);
}

.container .container {
    z-index: 0;
    width: 288.990825688%;
    height: 505px;
    margin: -38px 0 0 -9.2173200001%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.container .text {
    position: relative;
    clear: both;
    z-index: 1;
    width: 57.49235474%;
    min-height: 19px;
    margin: -109px 0 0 178.35436%;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.container12132332e {
    position: absolute;
    top: 131px;
    left: 36.4166666666%;
    z-index: 1;
    width: 27.25%;
    height: 176px;
    background-size: contain;
    background-position: 50% -10%;
}

.container2323 {
    position: absolute;
    top: 118px;
    left: 34.0846354166%;
    width: 32.0833333333%;
    height: 476px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

._container,
.container232312 {
    position: absolute;
    top: 96px;
    left: 12.9309895833%;
    z-index: 2;
    width: 27.25%;
    height: 353px;
    background-size: auto auto;
    background-position: center center;
}

.container232312:active,
.container232312:focus,
.container232312:hover {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.containerhead {
    float: left;
    width: 80%;
    height: 84px;
    margin: 28px 0 0 10%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.containerlogo {
    float: left;
    width: 14.5833333333%;
    height: 84px;
    margin-left: 1.45671%;
    background-size: cover;
    background-position: center center;
}

.containermain {
    position: relative;
    float: left;
    z-index: 3;
    width: 59.5833333333%;
    height: 1032px;
    margin: 6px 0 0 0.8307291666%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.containernotebook {
    float: left;
    clear: both;
    width: 92.4475524475%;
    height: 908px;
    margin: 28px 0 0 3.49869%;
}

.containerside {
    position: relative;
    float: left;
    clear: both;
    z-index: 8;
    width: 19.5833333333%;
    height: 1032px;
    margin: 6px 0 0 10%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.containeruserimage {
    float: left;
    width: 100%;
    height: 175px;
    margin-top: 22px;
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center center;
}

.text {
    float: left;
    text-align: center;
}

.text1 {
    position: absolute;
    top: 472px;
    left: 12.9309895833%;
    z-index: 8;
    width: 27.25%;
    min-height: 63px;
    font-size: 2.727em;
    text-align: center;
    color: rgb(29, 72, 140);
}

.textemail {
    float: left;
    clear: both;
    width: 90.2127659574%;
    min-height: 35px;
    margin-left: 5.95745%;
    font-size: 1.455em;
    text-align: center;
    color: rgb(29, 72, 140);
}

.button-create {
    float: left;
    clear: both;
    width: 90.2127659574%;
    min-height: 35px;
    margin-left: 5.95745%;
    font-size: 1.455em;
    text-align: center;
    color: rgb(29, 72, 140);
    background-color: #a6adb4;
}

.input-create {
    float: left;
    clear: both;
    width: 90.2127659574%;
    min-height: 35px;
    margin-left: 5.95745%;
    font-size: 1.455em;
    text-align: center;
    color: rgb(29, 72, 140);
    background-color: #f2fff3;
}

.textname {
    float: left;
    clear: both;
    width: 90.2127659574%;
    min-height: 39px;
    margin: 5px 0 0 5.95745%;
    font-size: 1.455em;
    font-weight: 700;
    text-align: center;
    color: rgb(29, 72, 140);
}

.textsubs {
    float: left;
    clear: both;
    width: 90.2127659574%;
    min-height: 32px;
    margin-left: 5.95745%;
    font-size: 1.455em;
    text-align: center;
    color: rgb(29, 72, 140);
}

._button {
    display: block;
    float: left;
    font-size: 1.455em;
    text-align: center;
}

._element {
    position: relative;
    float: left;
}

._input {
    display: block;
    float: left;
    padding: 0 10px;
    background-color: rgb(242, 242, 242);
    font-size: 1.182em;
    color: rgb(0, 0, 0);
}

.containerhead ._button {
    width: 13.2291666666%;
    height: 34px;
    margin: 23px 0 0 1.04167%;
    border-radius: 3px;
    background-color: rgb(29, 72, 140);
    color: rgb(0, 0, 0);
}

.containerhead ._input {
    width: 25.4166666666%;
    height: 34px;
    margin: 23px 0 0 42.5%;
}

.containermain ._button {
    position: relative;
    height: 44px;
    margin-top: 14px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.containermain ._button:hover {
    color: rgb(29, 72, 140);
}

.containermain ._button:active {
    background-color: rgb(255, 255, 255);
}

.container-1 {
    z-index: 0;
    width: 83.75%;
    height: 572px;
    margin: 25px 0 0 8.41797%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.container-2 {
    clear: both;
    z-index: 1;
    width: 27.25%;
    height: 353px;
    margin: -497px 0 0 13.69922%;
    background-size: cover;
    background-position: 60% 50%;
}

.container-3 {
    z-index: 0;
    width: 78.75%;
    height: 505px;
    margin: 58px 0 0 10.41797%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.text-2 {
    position: relative;
    z-index: 12;
    width: 27.25%;
    min-height: 63px;
    margin: -121px 0 0 13.69922%;
    font-size: 2.727em;
    color: rgb(29, 72, 140);
}

.text-3 {
    position: relative;
    clear: both;
    z-index: 5;
    width: 20.40078125%;
    min-height: 23px;
    margin: 29px 0 0 39.76693%;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.text-4 {
    position: relative;
    z-index: 1;
    width: 15.6666666666%;
    min-height: 19px;
    margin: -109px 0 0 61.53255%;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.text-5 {
    position: relative;
    z-index: 2;
    width: 15.6666666666%;
    min-height: 19px;
    margin: -48px 0 0 62.33203%;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.text-6 {
    clear: both;
    width: 20.3997395833%;
    min-height: 23px;
    margin: 44px 0 0 39.76693%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

._button-3 {
    position: relative;
    z-index: 7;
    width: 23.0325520833%;
    height: 29px;
    margin: -160px 0 0 57.59896%;
    border-radius: 3px;
    background-color: rgb(29, 72, 140);
    color: rgb(255, 255, 255);
}

._button-4 {
    position: relative;
    clear: both;
    z-index: 4;
    width: 20.4%;
    height: 43px;
    margin: 33px 0 0 39.76693%;
    border-radius: 3px;
    background-color: rgb(29, 72, 140);
    color: rgb(255, 255, 255);
}

._button-6 {
    position: relative;
    clear: both;
    z-index: 7;
    width: 23.0325520833%;
    height: 29px;
    margin: 27px 0 0 57.59896%;
    border-radius: 3px;
    background-color: rgb(29, 72, 140);
    color: rgb(255, 255, 255);
}

._button-7 {
    position: relative;
    z-index: 11;
    width: 23.0333333333%;
    height: 29px;
    margin: -87px 0 0 58.75%;
    border-radius: 3px;
    background-color: rgb(29, 72, 140);
    color: rgb(255, 255, 255);
}

._input-10 {
    position: relative;
    z-index: 8;
    width: 35.25%;
    height: 39px;
    margin: -251px 0 0 51.75%;
}

._input-11 {
    position: relative;
    z-index: 3;
    width: 35.25%;
    height: 39px;
    margin: -278px 0 0 50.9804699999%;
}

._input-12 {
    position: relative;
    clear: both;
    z-index: 6;
    width: 35.25%;
    height: 39px;
    margin: 13px 0 0 50.98177%;
}

._input-13 {
    position: relative;
    z-index: 9;
    width: 35.25%;
    height: 39px;
    margin: -201px 0 0 51.75%;
}

._input-14 {
    position: relative;
    z-index: 2;
    width: 27.25%;
    height: 54px;
    margin: 323px 0 0 36.39974%;
}

._input-15 {
    position: relative;
    z-index: 4;
    width: 35.25%;
    height: 39px;
    margin: -226px 0 0 50.98177%;
}

._input-16 {
    position: relative;
    clear: both;
    z-index: 3;
    width: 35.25%;
    height: 39px;
    margin: 19px 0 0 50.9804699999%;
}

._input-17 {
    position: relative;
    clear: both;
    z-index: 3;
    width: 27.25%;
    height: 54px;
    margin: 10px 0 0 36.39974%;
}

._input-18 {
    position: relative;
    clear: both;
    z-index: 4;
    width: 35.25%;
    height: 39px;
    margin: 13px 0 0 50.98177%;
}

._input-19 {
    position: relative;
    z-index: 10;
    width: 35.25%;
    height: 39px;
    margin: -149px 0 0 51.7487%;
}

._input-2 {
    position: relative;
    z-index: 3;
    width: 35.25%;
    height: 39px;
    margin: -521px 0 0 51.7487%;
}

._input-3 {
    position: relative;
    z-index: 4;
    width: 35.25%;
    height: 39px;
    margin: -466px 0 0 51.75%;
}

._input-4 {
    position: relative;
    z-index: 5;
    width: 35.25%;
    height: 39px;
    margin: -414px 0 0 51.74349%;
}

._input-5 {
    position: relative;
    z-index: 6;
    width: 35.25%;
    height: 39px;
    margin: -360px 0 0 51.74349%;
}

._input-6 {
    position: relative;
    clear: both;
    z-index: 5;
    width: 35.25%;
    height: 39px;
    margin: -388px 0 0 50.9804699999%;
}

._input-7 {
    position: relative;
    z-index: 7;
    width: 35.25%;
    height: 39px;
    margin: -308px 0 0 51.75%;
}

._input-8 {
    position: relative;
    z-index: 6;
    width: 35.25%;
    height: 39px;
    margin: -336px 0 0 50.98177%;
}

._input-9 {
    position: relative;
    z-index: 5;
    width: 35.25%;
    height: 39px;
    margin: 175px 0 0 50.9804699999%;
}

.containermain ._button-2 {
    z-index: 0;
    width: 49.5104895104%;
    margin-left: 0.00219%;
    border-right: 1px solid rgb(29, 72, 140);
}

.containermain ._button-5 {
    z-index: 1;
    width: 49.93006993%;
    margin-left: 0.55726%;
    border-left: 1px solid rgb(29, 72, 140);
}

.text a {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: underline;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}

.textname span {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: transparent;
    border-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: none;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    opacity: 1;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}