@CHARSET "UTF-8";

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #b6701e;
  position: absolute;
  right: 0px;
  width: 50%;
}

.pagebutton{
  
  background-color: rgb(76, 127, 175); /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    margin: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.pagebottombutton{
  
  background-color: rgb(76, 127, 175); /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    margin-right:15px;
    margin-left:15px;
    margin-top: 10px;
    margin-bottom:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.pdfarea{
  height: 600px;
}

.pagemessage{
  margin-top: 8px;

  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}